@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/*avança até a seção correta de maneira suave*/
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #0b1510;
    color: #e8e1d5;
    font-family: Georgia, serif;
}

.eyebrow {
    color: #c66a3d;
    letter-spacing: 0.2em;
    font-size: 0.8rem;
}